/* Formatto generale del body */
body {
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  border: 2px solid rgb(0, 0, 0);
  padding-bottom: 20px;
}

/* Formatto dei campi dell'input */
input[type="text"],
input[type="number"],
input[type="date"],
select {
  margin-bottom: 10px;
  padding: 6px;
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

li.hidden {
  display: none;
}

/* Consente di scrivere multipli tags su una singola riga */
.singola-riga {
  display: flex;
  align-items: center;
  gap: 10px;
}
