/* Fornisce una cornice per rappresentare un oggetto */
.istanza {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

/* Consente di scrivere multipli tags su una singola riga */
.singola-riga {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Aumenta 3px allo spazio tra le linee */
.container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-fit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
